<div class="flex-container">


  <div  style="margin-top: 70px"  fxLayout="column"  fxLayout.xs="column"   fxLayoutGap.xs="0" fxLayoutGap="100px" >
      

      <div  fxFlex  fxLayoutAlign="center" fxFlexOffset.xs="0">
            <h2 class="mat-h2">Add New datasource</h2>
        </div>
       
      
      
      
        <div  fxFlex  fxLayoutAlign="center" fxFlexOffset.xs="0">
      
          <h5 class="mat-h5">You can new datasource to your datapod <br> This data will be stored on your machine <br> encrypted at rest</h5>
        </div>

    
        <div    fxLayout.xs="column" fxLayoutAlign="center"  fxLayoutGap.xs="0" fxLayoutGap="32px" >
            

          
            <mat-card [style.backgroundColor]="'#efe2ba'"  >
                <mat-card-subtitle	 fxLayout.gt-xs="row" fxLayout.xs="column">
                  <span fxFlex="100%">Gmail</span>
                </mat-card-subtitle>
                <mat-card-content fxLayoutAlign="center">
                    <button  mat-raised-button color="primary" fxShrink="2" fxGrow="2" matTooltip="Please provide the path for your gooogle takeout Directory" (click)="gmailInput.click()">
                        <mat-icon>library_add</mat-icon>
                        <input #gmailInput type="file" (change)="onGmail($event)" style="display:none;" />
                      </button>
                </mat-card-content>
              </mat-card>
        
              <mat-card [style.backgroundColor]="'#efe2ba'" >
                  <mat-card-subtitle	 fxLayout.gt-xs="row" fxLayout.xs="column">
                    <span fxFlex="100%">Facebook</span>
                  </mat-card-subtitle>
                  <mat-card-content fxLayoutAlign="center">
                      <button  mat-raised-button color="primary" fxShrink="2" fxGrow="2" matTooltip="Please provide the path for your downloaded facebook data" (click)="fbInput.click()">
                          <mat-icon>library_add</mat-icon>
                          <input #fbInput type="file" (change)="onFacebook($event)" style="display:none;" />
                        </button>
                  </mat-card-content>
                </mat-card>
        
                <mat-card [style.backgroundColor]="'#efe2ba'"  >
                    <mat-card-subtitle	 fxLayout.gt-xs="row" fxLayout.xs="column">
                      <span fxFlex="100%">Instagram</span>
                    </mat-card-subtitle>
                    <mat-card-content fxLayoutAlign="center">
                        <button  mat-raised-button color="primary" fxShrink="2" fxGrow="2" matTooltip="Please provide the credentails for Instagram" (click)="instaInput.click()">
                            <mat-icon>library_add</mat-icon>
                            <input #instaInput type="file" (change)="onInstagram($event)" style="display:none;" />
                          </button>
                    </mat-card-content>
                  </mat-card>
                  <mat-card [style.backgroundColor]="'#efe2ba'"  >
                    <mat-card-subtitle	 fxLayout.gt-xs="row" fxLayout.xs="column">
                      <span fxFlex="100%">Whatsapp</span>
                    </mat-card-subtitle>
                    <mat-card-content fxLayoutAlign="center">
                        <button  mat-raised-button color="primary" fxShrink="2" fxGrow="2" matTooltip="Please provide the path for your downloaded whatsapp data" (click)="whatsappInput.click()">
                            <mat-icon>library_add</mat-icon>
                            <input #whatsappInput type="file" (change)="onWhatsapp($event)" style="display:none;" />
                          </button>
                    </mat-card-content>
                  </mat-card>

                  <mat-card [style.backgroundColor]="'#efe2ba'"  >
                    <mat-card-subtitle	 fxLayout.gt-xs="row" fxLayout.xs="column">
                      <span fxFlex="100%">Outlook</span>
                    </mat-card-subtitle>
                    <mat-card-content fxLayoutAlign="center">
                        <button  mat-raised-button color="primary" fxShrink="2" fxGrow="2" matTooltip="Please provide the path for your downloaded outlook data" (click)="outlookInput.click()">
                            <mat-icon>library_add</mat-icon>
                            <input #outlookInput type="file" (change)="onOutlook($event)" style="display:none;" />
                          </button>
                    </mat-card-content>
                  </mat-card>

                 

        </div>

        <div  fxFlex  fxLayoutAlign="center" fxFlexOffset.xs="0">
            <mat-form-field>
                  
                <mat-label>Both a label and a placeholder</mat-label>
                  <input matInput placeholder="Simple placeholder">
                </mat-form-field>
            
  
          </div>


  </div>
  
</div>