<div class="flex-container">


  <div  style="margin-top: 70px"  fxLayout="column"  fxLayout.xs="column"   fxLayoutGap.xs="0" fxLayoutGap="100px" >
        <div  fxFlex  fxLayoutAlign="center" fxFlexOffset.xs="0"><h4>Add New datasource</h4></div>
        <div  fxFlex  fxLayoutAlign="center" fxFlexOffset.xs="0"><h5>You can new datasource to your datapod <br> This data will be stored on your machine <br> encrypted at rest</h5></div>

    
        <div  fxLayout  fxLayout.xs="column" fxLayoutAlign="center"  fxLayoutGap.xs="0" fxLayoutGap="32px" >
            
            <mat-card [style.backgroundColor]="'#efe2ba'"  >
                <mat-card-subtitle	 fxLayout.gt-xs="row" fxLayout.xs="column">
                  <span fxFlex="100%">Gmail</span>
                </mat-card-subtitle>
                <mat-card-content fxLayoutAlign="center">
                    <button  mat-raised-button color="primary" fxShrink="2" fxGrow="2" (click)="fileInput.click()">
                        <mat-icon>library_add</mat-icon>
                        <span>Select</span>
                        <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
                      </button>
                </mat-card-content>
              </mat-card>
        
              <mat-card [style.backgroundColor]="'#efe2ba'" >
                  <mat-card-subtitle	 fxLayout.gt-xs="row" fxLayout.xs="column">
                    <span fxFlex="100%">Facebook</span>
                  </mat-card-subtitle>
                  <mat-card-content fxLayoutAlign="center">
                      <button  mat-raised-button color="primary" fxShrink="2" fxGrow="2" (click)="fileInput.click()">
                          <mat-icon>library_add</mat-icon>
                          <span>Select</span>
                          <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
                        </button>
                  </mat-card-content>
                </mat-card>
        
                <mat-card [style.backgroundColor]="'#efe2ba'"  >
                    <mat-card-subtitle	 fxLayout.gt-xs="row" fxLayout.xs="column">
                      <span fxFlex="100%">Instagram</span>
                    </mat-card-subtitle>
                    <mat-card-content fxLayoutAlign="center">
                        <button  mat-raised-button color="primary" fxShrink="2" fxGrow="2" (click)="fileInput.click()">
                            <mat-icon>library_add</mat-icon>
                            <span>Select</span>
                            <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
                          </button>
                    </mat-card-content>
                  </mat-card>
                  <mat-card [style.backgroundColor]="'#efe2ba'"  >
                    <mat-card-subtitle	 fxLayout.gt-xs="row" fxLayout.xs="column">
                      <span fxFlex="100%">Whatsapp</span>
                    </mat-card-subtitle>
                    <mat-card-content fxLayoutAlign="center">
                        <button  mat-raised-button color="primary" fxShrink="2" fxGrow="2" (click)="fileInput.click()">
                            <mat-icon>library_add</mat-icon>
                            <span>Select</span>
                            <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
                          </button>
                    </mat-card-content>
                  </mat-card>

                  <mat-card [style.backgroundColor]="'#efe2ba'"  >
                    <mat-card-subtitle	 fxLayout.gt-xs="row" fxLayout.xs="column">
                      <span fxFlex="100%">Outlook</span>
                    </mat-card-subtitle>
                    <mat-card-content fxLayoutAlign="center">
                        <button  mat-raised-button color="primary" fxShrink="2" fxGrow="2" (click)="fileInput.click()">
                            <mat-icon>library_add</mat-icon>
                            <span>Select</span>
                            <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
                          </button>
                    </mat-card-content>
                  </mat-card>




        </div>

  </div>
  
</div>