
<div class="flex-container">

    
<div  fxlayout fxLayoutAlign="center" style="margin-top: 70px">
    <h2>Welcome to Privacy centric Datapod</h2>
</div>
<div  fxLayout  fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0" fxLayoutGap="32px" >
    
    <mat-card class="card-picture" fxFlex="0 1 calc(33.3% - 32px)" >
        <mat-card-subtitle	 fxLayout.gt-xs="row" fxLayout.xs="column">
          <span fxFlex="100%">Activated Services</span>
        </mat-card-subtitle>
        <mat-card-content fxLayoutAlign="center">
            7
        </mat-card-content>
      </mat-card>

      <mat-card class="card-picture" fxFlex="0 1 calc(33.3% - 32px)">
          <mat-card-subtitle	 fxLayout.gt-xs="row" fxLayout.xs="column">
            <span fxFlex="100%">Activated Services</span>
          </mat-card-subtitle>
          <mat-card-content fxLayoutAlign="center">
              7
          </mat-card-content>
        </mat-card>

        <mat-card class="card-picture" fxFlex="0 1 calc(33.3% - 32px)">
            <mat-card-subtitle	 fxLayout.gt-xs="row" fxLayout.xs="column">
              <span fxFlex="100%">Activated Services</span>
            </mat-card-subtitle>
            <mat-card-content fxLayoutAlign="center">
                7
            </mat-card-content>
          </mat-card>


</div>


<div  fxLayout  fxLayout.xs="column" fxLayoutAlign="center"  fxLayoutGap.xs="0" fxLayoutGap="60px"  style="margin-top: 70px" >
    <mat-card class="card-picture" fxFlexFill >
        <div class="item item-4" fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0">Houzier.saurav@gmail.com</div>
        <div class="item item-4" fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0"></div>
        <div class="item item-5" fxFlex="200px">Item 5</div>
    </mat-card>

</div>


<div  fxLayout  fxLayout.xs="column" fxLayoutAlign="center"  fxLayoutGap.xs="0" fxLayoutGap="60px" >
    <mat-card class="card-picture" fxFlexFill >
        <div class="item item-4" fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0">Houzier.saurav@gmail.com</div>
        <div class="item item-4" fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0"></div>
        <div class="item item-5" fxFlex="200px">Item 5</div>
    </mat-card>

</div>


<div  fxLayout  fxLayout.xs="column" fxLayoutAlign="center"  fxLayoutGap.xs="0" fxLayoutGap="60px" >
    <mat-card class="card-picture" fxFlexFill >
        <div class="item item-4" fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0">Houzier.saurav@gmail.com</div>
        <div class="item item-4" fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0"></div>
        <div class="item item-5" fxFlex="200px">Item 5</div>
    </mat-card>

</div>


<!-- 
<div class="flexbox" fxLayoutAlign="center" >
    <span>Activated Services</span>
</div>

<div class="flexbox" fxLayoutAlign="center" >
    <span>Activated Services</span>
</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="15%" fxFlexOffset="50px"  >houzier.saurav@gmail.com</div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="4">3402 Emails</div>
  <div class="item item-3" fxFlex>Item 3</div>
</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-4" fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0">Item 4</div>
  <div class="item item-5" fxFlex="200px">Item 5</div>
</div> -->
</div>