.img {
    width: 100%;
    margin-bottom: 18%;
  }
  .container {
    min-height: 100%;
    width: 100%;

  }
  .card-picture {
    width: 23%;
    margin-bottom: 2%;
  }
  
  .search-form {
    width: 90%;
  }



.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 30px;
    margin-top: 30px;

  }
