
<!-- 
        <div class="row">
                <h1 class="title">
                  Welcome to the privay first DataPod
                </h1>
            </div>
                        <button mat-button (click)="goToPage()">Begin your journey!</button>
             -->


            


  

<div class="flex-container">
        <mat-sidenav-container class="sidenav-container">
            <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
                [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                [mode]="(isHandset$ | async) ? 'over' : 'side'"
                [opened]="!(isHandset$ | async)">
              <mat-toolbar>Welcome</mat-toolbar>
              <mat-list>
                
                    <mat-list-item>  

                            <!-- <button mat-button (click)="goToPage()"><mat-icon>mic</mat-icon><img src="...">Home</button> -->
                            <button mat-button (click)="goToPage()"><mat-icon>mic</mat-icon>Home</button>

                    </mat-list-item>

                    <mat-list-item>  

                            <button mat-button routerLink="/datasource"><mat-icon>local_drink</mat-icon>Data Source</button>

                    </mat-list-item>

                    <mat-list-item>  

                            <button mat-button routerLink="/backup"><mat-icon>backup</mat-icon>Backup</button>

                    </mat-list-item>

                    <mat-divider></mat-divider>

                    <mat-list-item>  

                            <button mat-button [matMenuTriggerFor]="finance"><mat-icon>attach_money</mat-icon>Finance</button>

                    </mat-list-item>

                        <mat-menu #finance="matMenu">
                        <button mat-menu-item routerLink="/finance/bank-statements-summary"><mat-icon>book</mat-icon>Bank statements summary</button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item routerLink="/finance/credit-cards"><mat-icon>flight_takeoff</mat-icon>Credit cards summary</button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item routerLink="/finance/e-wallets"><mat-icon>flight_takeoff</mat-icon>Digital Wallets</button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item routerLink="/finance/invoices" ><mat-icon>filter_list</mat-icon>Invoices</button>
                        </mat-menu>

                    <mat-list-item>  

                            <button mat-button [matMenuTriggerFor]="travel"><mat-icon>directions_walk</mat-icon>Travel</button>
    
                    </mat-list-item>
    
                        <mat-menu #travel="matMenu">
                        <button mat-menu-item  routerLink="/travel/flights" ><mat-icon>flight_takeoff</mat-icon>Flights</button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item  routerLink="/travel/cabs" ><mat-icon>local_taxi</mat-icon>Cabs</button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item  routerLink="/travel/railways" ><mat-icon>train</mat-icon>Railways</button>
                        </mat-menu>
        
                        <mat-list-item>  

                                <button mat-button [matMenuTriggerFor]="health"><mat-icon>healing</mat-icon>Health</button>
        
                        </mat-list-item>
        
                        <mat-menu #health="matMenu">
                                <button mat-menu-item><mat-icon>filter_list</mat-icon>Reports</button>
                                <mat-divider></mat-divider>
                                <button mat-menu-item><mat-icon>filter_list</mat-icon>Fitness data</button>
                                </mat-menu>

                        <mat-list-item>  

                                <button mat-button [matMenuTriggerFor]="ecommerce"><mat-icon>directions_walk</mat-icon>Ecommerce</button>
        
                        </mat-list-item>
        
                            <mat-menu #ecommerce="matMenu">
                            <button mat-menu-item><mat-icon>flight_takeoff</mat-icon>Products</button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item><mat-icon>filter_list</mat-icon>Invoices</button>
                            </mat-menu>
            

        
              </mat-list>
            </mat-sidenav>
            
        
            <mat-sidenav-content fxLayout="row" fxLayoutAlign="start stretch" fxLayoutWrap>
                <router-outlet class="outlet">
        
                  </router-outlet>
            </mat-sidenav-content>
        
          </mat-sidenav-container>
          
        </div>
        