/* You can add global styles to this file, and also import other style files */
//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; 
  }

  @import '~@angular/material/theming';

  $custom-typography: mat-typography-config($font-family: '"Karla", sans-serif;');
  @include mat-core($custom-typography);

    $primary: mat-palette($mat-blue);
    $accent: mat-palette($mat-orange,200);
  
    $theme: mat-light-theme($primary, $accent);
  
  @include angular-material-theme($theme);